<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/images/homer.gif" alt="homer"/>
    <p>
    <a href="https://media2.giphy.com/media/jUwpNzg9IcyrK/giphy.gif?cid=790b7611faba6fd5c9f57362ad25931b8f1b82b651a6dd3c&rid=giphy.gif">via GIPHY</a>
    <p class="linkText">https://media2.giphy.com/media/jUwpNzg9IcyrK/giphy.gif?cid=790b7611faba6fd5c9f57362ad25931b8f1b82b651a6dd3c&rid=giphy.gif</p>
    <p>Welcome to <%= title %></p>
  </body>
</html>
